.board {
  width: 750px;
  height: 750px;
  position: absolute;
  top: calc(50% - 375px);
  left: calc(30% - 375px);
  background-image: url("/Images/Mädn/Brett.png");
  background-size: cover;
}
.figure {
  width: 40px;
  height: 40px;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  position: absolute;
}
.figure svg {
  margin: auto;
  height: 25px;
  width: 25px;
}
.yellow {
  background-color: rgb(131, 131, 0);
}
.red {
  background-color: rgb(128, 0, 0);
}
.blue {
  background-color: rgb(42, 42, 122);
}
.green {
  background-color: rgb(1, 78, 1);
}
.hover-figure:hover {
    cursor: pointer;
}