.tic-tac-toe table {
  border: 2px solid black;
  border-collapse: collapse;
}

.tic-tac-toe td {
  border: 1px solid black;
  height: 200px;
  position: relative;
  text-align: center;
  width: 200px;
  justify-content: center;
}

.tic-tac-toe table:not(.game-over) td {
  cursor: pointer;
}

.tic-tac-toe td button {
  position: absolute;
  left: -100vw;
}

.tic-tac-toe .o {
  background: #8f8;
  color: #8f8;
}

.tic-tac-toe .x {
  background: #f88;
  color: #f88;
}

.tic-tac-toe .o,
.tic-tac-toe .x {
  z-index: -1;
}

.tic-tac-toe .o::after,
.tic-tac-toe .x::after {
  color: black;
  display: block;
  font-size: 5em;
  position: absolute;
  width: 100%;
}

.tic-tac-toe .o::after {
  content: "○";
  top: -0.2em;
  margin: auto;
}

.tic-tac-toe .x::after {
  content: "×";
  top: -0.125em;
  margin: auto;
}

.tic-tac-toe .o.highlighted::after,
.tic-tac-toe .x.highlighted::after {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px white,
    0 0 5px white, 0 0 6px white, 0 0 7px white;
}

.tic-tac-toe .game-over {
  border-color: red;
}
.instructions-ttt {
  font-size: 60px;
  font-family: "Poppins";
  text-align: center;
  margin-bottom: 10px;
}
.caption-ttt {
  font-family: "Poppins";
  text-align: center;
  font-size: 40px;
  margin: 0;
}
.new-game-ttt {
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
}
